<div class="form">
    <div class="title">
      <%= title %>
      <%= simple_form_for([@treatment, @tracker]) do |f| %>
      <input class="slider" type="range" id="tracker_rating" name="tracker[rating]" min="0" value="50" max="100">
    </div>
    <div class="notes">
      <%#= f.input :rating, collection: -50..50, as: :slider %>
      <%= f.input :notes, as: :text %>
    </div>
    <div class="photo">
      <%#= f.input :category, collection: Category.all %>
      <% if params[:group] == 'skincare' or params[:group] == 'environmental'%>
      <%= f.input :photo, as: :file %>
      <% end %>
    </div>
    <div class="save">
      <%= f.submit 'Save' %>
      <% end %>
    </div>
</div>
