<div>
    <%= title %>
        <%= simple_form_for([@treatment, @tracker]) do |f| %>
          <input type="range" id="tracker_rating" name="tracker[rating]" min="0" max="100">
          <%#= f.input :rating, collection: -50..50, as: :slider %>
          <%= f.input :notes, as: :text %>
          <%#= f.input :category, collection: Category.all %>
          <% if params[:group] == 'skincare' or params[:group] == 'environmental'%>
            <%= f.input :photo, as: :file %>
          <% end %>
          <%= f.submit 'Save' %>
        <% end %>
</div>
