<h1>Your Dashboard</h1>
<p>Hello <%= current_user.full_name %></p>

<%= month_calendar(events: @trackers) do |date, trackers| %>
  <%= date %>

  <% trackers.each do |tracker| %>
    <div class="tracker">
      <% if tracker.category.group == "skincare" %>
        <p class="bg-color-blue"> </p>
      <% elsif tracker.category.group == "environmental" %>
        <p class="bg-color-green"> </p>
      <% elsif tracker.category.group == "lifestyle"  %>
        <p class="bg-color-red"> </p>
      <% end %>
    </div>
  <% end %>
<% end %>

<% latest_trackers = @trackers.last(5) %>

<div class="card-tracker">
  <img class="tracker-circle" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-tracker-infos">
    <% latest_trackers.each do |tracker| %>
    <div>
      <h2><%= tracker.category.title %> | <%= tracker.category.group %></h2>
      <p><%= tracker.notes%> </p>
    </div>
    <p><%= tracker.rating %></p>
    <h2><%= tracker.start_time %> </h2>
  <% end %>
  </div>
</div>

<div class="card-link">
  <%= link_to "New Tracker", treatment_categories_path %>
</div>


