<div class="dashboard-layout container" id="dashboard">

<h2>Hello, <%= current_user.full_name %>!</h2>
<h3>Current healing journey: <%= @treatment.skin_condition %></h3>

<!-- <div class="popup" onclick="myFunction()">Click me to toggle the popup!
  <span class="popuptext" id="myPopup">A Simple Popup!</span>
</div> -->

<div class="dashboard-layout">
  <%= month_calendar(events: @trackers, attribute: :created_at) do |date, trackers| %>
    <%= date.strftime("%e") %>

    <div class="tracker-display">
      <% trackers.each do |tracker| %>
        <div class="tracker">
          <% if tracker.category.group == "skincare" %>
            <p class="bg-color-blue"> </p>
          <% elsif tracker.category.group == "environmental" %>
            <p class="bg-color-green"> </p>
          <% elsif tracker.category.group == "lifestyle"  %>
            <p class="bg-color-red"> </p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

    <div class="card-tracker-all">
      <% latest_trackers = @trackers.last(5) %>

      <% latest_trackers.each do |tracker| %>
        <div class="card-tracker" id="border-radius">
          <div class="card-tracker-infos">


            <div class="date-icon">
            <div class="card-tracker-icon">
              <p style="font-weight: bold;"><%= tracker.created_at.strftime("%-d %B %Y")%> </p>

                <% if tracker.category.group == "skincare" %>
                  <div class="btn btn-icon btn-skincare" style="height: 50px; width: 50px; margin-left: 180px;">
                    <% if tracker.category.title == "medications" %>
                      <i id="c" class="fas fa-prescription-bottle-alt"></i>
                    <% elsif tracker.category.title == "products" %>
                      <i id="c" class="fas fa-prescription-bottle"></i>
                    <% elsif tracker.category.title == "supplements" %>
                      <i id="c" class="fas fa-pills"></i>
                    <% elsif tracker.category.title == "progress" %>
                      <i id="c" class="fas fa-thumbs-up"></i>
                    <% end %>
                  </div>

                <% elsif tracker.category.group == "environmental" %>
                  <div class="btn btn-icon btn-environmental" style="height: 50px; width: 50px;  margin-left: 180px;">
                    <% if tracker.category.title == "sun" %>
                      <i id="c" class="far fa-sun"></i>
                    <% elsif tracker.category.title == "humidity" %>
                      <i id="c" class="fas fa-water"></i>
                    <% elsif tracker.category.title == "temperature" %>
                      <i id="c" class="fas fa-temperature-high"></i>
                    <% elsif tracker.category.title == "pollution" %>
                      <i id="c" class="fas fa-smog"></i>
                    <% end %>
                  </div>

                <% elsif tracker.category.group == "lifestyle" %>
                  <div class="btn btn-icon btn-lifestyle" style="height: 50px; width: 50px;  margin-left: 180px;">
                    <% if tracker.category.title == "sleep" %>
                      <i id="c" class="fas fa-bed"></i>
                    <% elsif tracker.category.title == "stress" %>
                      <i id="c" class="fas fa-sad-cry"></i>
                    <% elsif tracker.category.title == "workout" %>
                      <i id="c" class="fas fa-running"></i>
                    <% elsif tracker.category.title == "diet" %>
                      <i id="c" class="fas fa-hamburger"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="card-tracker-infos-details">
              <p style="font-size: 8px;" ><b><%= tracker.category.title %> | <%= tracker.category.group %></b></p>
              <p>rating: <%= tracker.rating %></p>
              <p>"<%= tracker.notes%>"</p>
          </div>
        </div>
      </div>

      <% end %>
    </div>

  <div class="cards-links">
    <div class="card-tracker-links" id="border-radius">
      <div id="link">
        <%= image_tag ('Long.png'), style: "height: 90px;width: auto;" %>
          <h5 id="new"><%= link_to "Progress Gallery", treatment_category_path(@treatment.id, @progress_category_id) %> </h5>
      </div>
    </div>

    <div class="card-tracker-links" id="border-radius">
      <div id="link">
        <%= image_tag ('plus.png'), style: "height: 100px;width: auto;"%>
          <h5 id="new"><%= link_to "New Entry", treatment_categories_path %></h5>
      </div>
    </div>
 <!--    <div class="card-tracker-links" >
      <i class="fas fa-plus-circle" id="link" style="color: #FFC65A;">
        <h5 id="new"><%= link_to "New Entry", treatment_categories_path %></h5>
      </i>
    </div> -->

    <!-- <div class="progress-gallery-link"> -->
  </div>

  </div>
</div>
