<div>
  <h1><%= category.title.capitalize %></h1>
</div>
<div>
  <h5><span><%= "You haven’t uploaded any progress trackers with pictures yet!" if trackers.empty? %></span></h5>

</div>

<br>

<!-- Slider main container -->
<!-- Swiper -->
    <div class="swiper-container" style="margin: 30px;">
      <div class="swiper-wrapper">
        <% trackers.each do |tracker| %>
          <div class="swiper-slide swiper-card">
            <% if tracker.photo.attached? %>
            <%= cl_image_tag tracker.photo.key, height: "100%", class: "carousel-image", id: "border-radius"%>
            <% else %>
              <%= image_tag "Placeholder.jpg", height: "100%", class: "carousel-image", id: "border-radius"%>
            <% end %>

            <div><br></div>
      <div class="swiper-pagination"></div>

            <div class="card-tracker-infos-details" id="progress">
              <p><b><%= tracker.created_at.strftime("%-d %B %Y") %></b></p>
              <p>rating: <%= tracker.rating %></p>
              <p><%= tracker.notes%> </p>
            </div>
          </div>
        <% end %>

      </div>
      <div class="progress-button">
        <h5><%= link_to "New progress tracker", new_treatment_tracker_path({
          treatment_id: treatment.id,
          category_id: category.id,
          group: category.group
          }) %></h5>
      </div>
    </div>






