<div>
  <h1><%= category.title %></h1>
</div>
<div>
  <h5><span><%= "You haven’t uploaded any progress trackers with pictures yet!" if trackers.empty? %></span></h5>

  <div class="card-tracker-links">
    <h5><%= link_to "New progress tracker", new_treatment_tracker_path({
      treatment_id: treatment.id,
      category_id: category.id,
      group: category.group
    }) %></h5>
  </div>
</div>

<!-- Slider main container -->
<!-- Swiper -->
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <% trackers.each do |tracker| %>
          <div class="swiper-slide swiper-card">
            <%= cl_image_tag tracker.photo.key, height: "100%", class: "carousel-image", id: "border-radius" %>

            <div class="card-tracker-infos-details" id="progress">
              <p><b><%= tracker.created_at %></b></p>
              <p>rating: <%= tracker.rating %></p>
              <p><%= tracker.notes%> </p>
            </div>
          </div>
        <% end %>

      </div>
      <div class="swiper-pagination"></div>
    </div>






