<div class="card d-flex align-content-center" style="width: 18rem;">
  <div class="card-body">

        <h5 class="card-title">Skin care</h5>
          <div class="card-group d-flex justify-content-between">
            <% @skincare.each do |skincare| %>
              <div class="btn-category">
                <%= link_to new_treatment_tracker_path(group: skincare.group, category_id: skincare.id), class: "btn btn-icon btn-skincare" do %>
                <i class="fas fa-pills"></i><% end %>
                <p><%= skincare.title.capitalize %></p>
              </div>
            <% end %>
          </div>

        <h5 class="card-title">Environmental</h5>
          <div class="card-group d-flex justify-content-between">
            <% @environmental.each do |environmental| %>
              <div class="btn-category">
              <%= link_to new_treatment_tracker_path(group: environmental.group, category_id: environmental.id), class: "btn btn-icon btn-environmental" do %>
              <i class="far fa-sun"></i><% end %>
              <p><%= environmental.title.capitalize %></p>
            </div>
          <% end %>
        </div>

          <h5 class="card-title">Lifestyle</h5>
            <div class="card-group d-flex justify-content-between">
              <% @lifestyle.each do |lifestyle| %>
                <div class="btn-category">
                <%= link_to new_treatment_tracker_path(group: lifestyle.group, category_id: lifestyle.id), class: "btn btn-icon btn-lifestyle" do %>
                <i class="fas fa-running"></i><% end %>
                <p><%= lifestyle.title.capitalize %></p>
              </div>
            <% end %>
          </div>

  </div>
</div>

