<div class="card d-flex align-content-center" style="width: 23rem;">
  <div class="card-body">

        <h5 class="card-title">Skin care</h5>
          <div class="card-group d-flex">
            <% @skincare.each do |skincare| %>
              <div class="btn-category">
                <%= link_to new_treatment_tracker_path(group: skincare.group, category_id: skincare.id), class: "btn btn-icon btn-skincare" do %>
                  <% if skincare.title == "progress" %>
                    <i id="i" class="far fa-thumbs-up"></i>
                  <% elsif skincare.title == "medications" %>
                    <i id="i" class="fas fa-prescription-bottle-alt"></i>
                  <% elsif skincare.title == "products" %>
                    <i id="i" class="fas fa-prescription-bottle"></i>
                  <% elsif skincare.title == "supplements" %>
                    <i id="i" class="fas fa-pills"></i>
                  <% end %>
                <% end %>
                <p><%= skincare.title.capitalize %></p>
              </div>
            <% end %>
          </div>

        <h5 class="card-title">Environmental</h5>
          <div class="card-group d-flex">
            <% @environmental.each do |environmental| %>
              <div class="btn-category">
                <%= link_to new_treatment_tracker_path(group: environmental.group, category_id: environmental.id), class: "btn btn-icon btn-environmental" do %>
                  <% if environmental.title == "sun" %>
                    <i id="i" class="far fa-sun"></i>
                  <% elsif environmental.title == "humidity" %>
                    <i id="i" class="fas fa-water"></i>
                  <% elsif environmental.title == "temperature" %>
                    <i id="i" class="fas fa-temperature-high"></i>
                  <% elsif environmental.title == "pollution" %>
                    <i id="i" class="fas fa-smog"></i>
                  <% end %>
                <% end %>
              <p><%= environmental.title.capitalize %></p>
            </div>
          <% end %>
        </div>

          <h5 class="card-title">Lifestyle</h5>
            <div class="card-group d-flex">
              <% @lifestyle.each do |lifestyle| %>
                <div class="btn-category">
                  <%= link_to new_treatment_tracker_path(group: lifestyle.group, category_id: lifestyle.id), class: "btn btn-icon btn-lifestyle" do %>
                    <% if lifestyle.title == "sleep" %>
                      <i id="i" class="fas fa-bed"></i>
                    <% elsif lifestyle.title == "stress" %>
                      <i id="i" class="fas fa-sad-cry"></i>
                    <% elsif lifestyle.title == "workout" %>
                      <i id="i" class="fas fa-running"></i>
                    <% elsif lifestyle.title == "diet" %>
                      <i id="i" class="fas fa-hamburger"></i>
                    <% end %>
                  <% end %>
                <p><%= lifestyle.title.capitalize %></p>
              </div>
            <% end %>
          </div>

  </div>
</div>

